body {
  padding: 0;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 1rem;
}
.home-head {
  /* background: url(./home.jpg) no-repeat center center fixed; */
  padding-top: 4rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(./home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

@media (orientation: portrait) {
}
