@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container {
    max-height: 20vh;
    max-width: -10vw;
    align-content: center;
}

.card {
    height: relative;
    width: relative;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: black;
}

.fa-facebook-square:hover {
    color: #4267B2;
    cursor: pointer;
}

.fa-google-plus-square:hover {
    color: #DB4437;
    cursor: pointer;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
    cursor: pointer;
}

.card-header h3 {
    color: black;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: black;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: black;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: whitesmoke;
    background-color: black;
    width: 100px;
}

.login_btn:hover {
    color: white;
    background-color: #171717;
}

.links {
    color: black;
}

.links a {
    margin-left: 4px;
}

#linking {
    text-align: center;
    color: #1a8917;
    font-weight: bold;
    text-decoration: none;
}

#linking:hover {
    color: #12660f;
    text-decoration: none;
    font-weight: bold;
}

input[type="checkbox"] {
    position: relative;
    opacity: 0;
    z-index: -1;
}

label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 2em;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;
}

label::before,
label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
}

label::before {
    content: " ";
    border: 2px solid black;
    border-radius: 30%;
}

input[type="checkbox"]+label::after {
    content: '\2714 \fe0e';
    color: white;
    line-height: 1.5;
    text-align: center;
}

input[type="checkbox"]:checked+label::before {
    background: black;
    border-color: black;
}

input[type="checkbox"]+label::after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="checkbox"]:checked+label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

label::before,
label::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}