html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Images/Background_images/typewriter-801921_1920.jpg");
    background-position: center;
    height: 100%;
    background-size: cover;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #b69d44;
}

.topnav a.active {
    background-color: #207178;
}

.topnav a:hover {
    background-color: #207178;
}

.topnav .search-container {
    float: right;
}

.topnav .search-container button {
    float: right;
    padding: 14px 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #207178;
}

.topnav input[type=text] {
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid #207178;
}

.footer {
    align-items: bottom;
}

.button {
    opacity: 1;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login {
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    margin: 14px;
    border-radius: 25px;
    width: 14%;
    position: absolute;
    right: 60%;
    top: 50%;
}

.signup {
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    margin: 14px;
    border-radius: 25px;
    width: 14%;
    text-decoration-color: #b69d44;
    position: absolute;
    left: 60%;
    top: 50%;
}

.button:hover .login {
    opacity: 0.3;
}