<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Mind Space-Login</title>
</head>

<body>
    <h1 class="Heading">Login</h1>
    <form method="post">
        <div class="imgcontainer">
            <img src="../static/Images/Icons/Free_Sample_By_Wix.jfif" alt="Mind Space" class="logo">
        </div>

        <div class="container">
            <input type="text" placeholder="Email Id" name="uname" required>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container">
            <span class="pswd"> <a href="#">Forgot Password?</a></span>
        </div>
        <div class="container">
            <span class="signup"> <a href="#">Sign Up</a></span>
        </div>
    </form>
</body>

</html>